---
import Layout from "../components/layout.astro";

const DATA = [
	{
		day: "Monday",
		times: [
			{
				time: "10 AM - 11 AM",
				coord: "",
			},
			{
				time: "11 AM - 12 PM",
				coord: "Michael",
			},
			{
				time: "12 PM - 1 PM",
				coord: "Reed",
			},
			{
				time: "1 PM - 2 PM",
				coord: "James",
			},
			{
				time: "2 PM - 3 PM",
				coord: "Berkey",
			},
			{
				time: "3 PM - 4 PM",
				coord: "Carson",
			},
			{
				time: "4 PM - 5 PM",
				coord: "",
			},
		],
	},
	{
		day: "Tuesday",
		times: [
			{
				time: "10 AM - 11 AM",
				coord: "",
			},
			{
				time: "11 AM - 12 PM",
				coord: "Matt",
			},
			{
				time: "12 PM - 1 PM",
				coord: "",
			},
			{
				time: "1 PM - 2 PM",
				coord: "Dana",
			},
			{
				time: "2 PM - 3 PM",
				coord: "Dana",
			},
			{
				time: "3 PM - 4 PM",
				coord: "Nick",
			},
			{
				time: "4 PM - 5 PM",
				coord: "Will",
			},
		],
	},
	{
		day: "Wednesday",
		times: [
			{
				time: "10 AM - 11 AM",
				coord: "",
			},
			{
				time: "11am",
				coord: " Ben",
			},
			{
				time: "12 PM - 1 PM",
				coord: "Reed",
			},
			{
				time: "1 PM - 2 PM",
				coord: "Eric",
			},
			{
				time: "2 PM - 3 PM",
				coord: "Berkey",
			},
			{
				time: "3 PM - 4 PM",
				coord: "Carson",
			},
			{
				time: "4 PM - 5 PM",
				coord: "",
			},
		],
	},
	{
		day: "Thursday",
		times: [
			{
				time: "10 AM - 11 AM",
				coord: "",
			},
			{
				time: "11 AM - 12 PM",
				coord: "Matt",
			},
			{
				time: "12 PM - 1 PM",
				coord: "Phoenix",
			},
			{
				time: "1 PM - 2 PM",
				coord: "Phoenix",
			},
			{
				time: "2 PM - 3 PM",
				coord: "Ben",
			},
			{
				time: "3 PM - 4 PM",
				coord: "Nick",
			},
			{
				time: "4 PM - 5 PM",
				coord: "Will",
			},
		],
	},
	{
		day: "Friday",
		times: [
			{
				time: "10 AM - 11 AM",
				coord: "James",
			},
			{
				time: "11 AM - 12 PM",
				coord: "Michael",
			},
			{
				time: "12 PM - 1 PM",
				coord: "",
			},
			{
				time: "1 PM - 2 PM",
				coord: "Eric",
			},
			{
				time: "2 PM - 3 PM",
				coord: "",
			},
			{
				time: "3 PM - 4 PM",
				coord: "Rudy",
			},
			{
				time: "4 PM - 5 PM",
				coord: "Rudy",
			},
		],
	},
];

const times = DATA[0].times.map(d => d.time);
---

<Layout>
	<table class="table mx-auto w-65 rounded-3xl">
		<thead class="bg-red-700 w-65">
			<tr>
				{
					["Times", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"].map(
						(e: String) => <th>{e}</th>
					)
				}
			</tr>
		</thead>
		<tbody>
			{
				DATA.map((row, i) => (
					<tr>
						{ row.times.map((d) => (i%2 == 0 ? <td class="bg-neutral-200">{d.coord}</td> : <td>{d.coord}</td>) )}
					</tr>
				))
			}
		</tbody>
	</table>
</Layout>
